Repository entrylabs/entryjs, pull requests merged in 2019-09, with the labels that each got.

#1437 [Issue/line/248] 초시계 블럭을 가진 오브젝트가 바로 삭제된 경우 초시계 삭제로직 수행처리
  src/class/container.js
Labels: issue

#1439 [#issue/line/287] 변수블록 카테고리 내 변수/리스트 추가버튼 로직 수정
  src/class/variable_container.js
Labels: bug, issue

#1443 [security] eslint-utils critical 보안문제 수정 및 linter 라이브러리 업데이트
  package-lock.json
  package.json
  yarn.lock
Labels: security

#1446 Xylobot 오타 수정
  src/playground/blocks/hardware/block_hyact.js
Labels: hardware

#1420 [마인드피기] 블록 생성time 추가
  src/playground/blocks/hardware/block_mindpiggy.js
Labels: hardware

#1432 [대장장이보드] PIR센서 블록 추가와 블루투스 TX값 함수 수정
  package-lock.json
  src/playground/blocks/hardware/block_blacksmith.js
Labels: hardware

#1422 [대장장이보드] 블록추가,기능수정
  src/playground/blocks/hardware/block_blacksmith.js
Labels: hardware

#1433 [feature] 교과형 하드웨어 버튼의 순서 변경
  extern/util/static_mini.js
Labels: bug

#1419 Issue/10625
  src/class/container.js
  src/class/function.js
  src/class/scene.js
  src/class/variable_container.js
  src/command/commands/function.js
  src/playground/field/dropdownDynamic.js
  src/playground/field/field.js
Labels: issue

#1418 [#10747] 실행중인 instance의 볼륨 수정하도록 변경.
  src/playground/blocks/block_expansion_tts.js
  src/util/utils.js
Labels: issue

#1413 [feature] root 내 불필요 파일 제거 및 webpack config rule 정리
  .jsbeautifyrc
  .jshintrc
  grunt
  karma
  webpack.config.js
  webpack_config/common.js
  webpack_config/dev.js
  webpack_config/prod.js
  webpack_config/serve.js
Labels: enhancement

#1445 어썸봇 오류 수정 및 기능 개선
  src/playground/blocks/hardware/block_asomebot.js
Labels: hardware
