Repository entrylabs/entryjs, pull requests merged in 2019-08, with the labels that each got.

#1387 파이션 코드 기능 추가
  src/playground/blocks/hardware/block_truerobot.js
Labels: hardware

#1375 Edu 로봇 일반블럭 추가 및 하드웨어 관련 코드 수정 적용
  package-lock.json
  src/playground/block_entry_mini.js
  src/playground/blocks/hardware/block_robotis.js
Labels: hardware

#1401 add vn
  src/playground/blocks/hardware/block_smartboard.js
Labels: hardware

#1409 바이로봇 드론파이터, 페트론 V2 블럭 코드 수정
  extern/lang/en.js
  extern/lang/ko.js
  src/playground/blocks/hardware/block_byrobot_dronefighter_controller.js
  src/playground/blocks/hardware/block_byrobot_dronefighter_drive.js
  src/playground/blocks/hardware/block_byrobot_dronefighter_flight.js
  src/playground/blocks/hardware/block_byrobot_petrone_v2_controller.js
  src/playground/blocks/hardware/block_byrobot_petrone_v2_drive.js
  src/playground/blocks/hardware/block_byrobot_petrone_v2_flight.js
Labels: hardware

#1412 [#10755] 종속성 라이브러리 업데이트
  Gruntfile.js
  karma.conf.js
  package-lock.json
  package.json
  webpack_config/dev.js
  webpack_config/lint.js
  webpack_config/prod.js
  webpack_config/serve.js
  yarn.lock
Labels: enhancement

#1367 코딩플런 보드 추가
  extern/lang/code.js
  extern/lang/ebs.js
  extern/lang/en.js
  extern/lang/jp.js
  extern/lang/ko.js
  extern/lang/vn.js
  images/hardware/plrun.png
  src/playground/blocks/hardware/block_plrun.js
Labels: hardware

#1417 [#10750] 다이나믹 드랍다운에서 값이 없을 경우 defaultValue 값 또는 함수를 확인하여 처리하도록 수정.
  src/playground/blocks/block_expansion_behaviorconduct_disaster.js
  src/playground/field/dropdownDynamic.js
Labels: issue
