Repository entrylabs/entryjs, pull requests merged in 2020-04, with the labels that each got.

#1724 11635 처리
  src/util/videoUtils.ts
Labels: issue

#1723 #11589 오류 수정
  src/playground/blocks/block_calc.js
  src/util/utils.js
Labels: issue

#1722 이슈 11626처리, eraseBrush webGL분기 추가
  src/class/entity.js
  src/class/pixi/etc/PIXIBrushAdaptor.ts
Labels: issue

#1731 [WIP]비디오 블럭 로딩 개선
  src/playground/blocks/block_ai_utilize_video.js
  src/util/videoUtils.ts
  src/util/workers/video.worker.ts
Labels: issue

#1741 hotfix for slide type variable
  src/extensions/dmet.js
Labels: hotfix

#1742 hotfix 2
  src/extensions/dmet.js
Labels: hotfix

#1743 hotfix 3
  src/extensions/dmet.js
Labels: hotfix

#1744 issue/11613
  src/class/source/DataTableSource.js
Labels: issue

#1736 [feature] typescript @types/lodash 업데이트
  package.json
  src/class/hardware/hardwareSocketMessageHandler.ts
  src/class/pixi/atlas/PIXIAtlasManager.ts
  src/class/pixi/atlas/SceneBins.ts
  src/playground/skeleton/basic/basic_text.ts
  src/playground/skeleton/basic/basic_text_light.ts
  src/util/videoUtils.ts
  yarn.lock
Labels: feature

#1747 add missing import
  src/util/utils.js
Labels: hotfix

#1737 [비디오 블럭] 추가 개선
  src/playground/blocks/block_ai_utilize_video.js
  src/util/videoUtils.ts
  src/util/workers/motion.worker.ts
  src/util/workers/video.worker.ts
Labels: issue

#1752 [DataTable] 모달 차트 넘기는 데이터 수정
  src/class/DataTable.js
Labels: issue

#1754 [DataTable] 코멘트 사항 수정
  src/class/DataTable.js
Labels: issue

#1756 [DataTable] 해당 차트데이터만 넘기도록 수정
  src/class/DataTable.js
Labels: issue

#1738 이슈 11653 처리
  src/class/variable_container.js
Labels: issue

#1734 add binPacking
  src/class/variable/variable.js
  src/util/binPacking.js
Labels: issue

#1760 [DataTable] modalChart props 이전 전달 방식으로 수정
  src/class/DataTable.js
Labels: issue

#1763 [WIP][#11691] 비디오 블럭 사물 판단 블록
  extern/util/static.js
  src/entry.js
  src/playground/blocks/block_ai_utilize_video.js
  src/playground/field/dropdownExtra.js
  src/playground/field/field.js
Labels: feature

#1766 [#11585] 차트 팝업 버튼 추가.
  src/class/DataTable.js
Labels: issue

#1767 [#11691] 다국어 설정 관련 수정
  src/playground/blocks/block_ai_utilize_video.js
Labels: feature

#1768 [비디오 블럭] 로딩 수정 및 호환성 개선
  src/class/toast.js
  src/graphicEngine/GEHelper.ts
  src/playground/blocks/block_ai_utilize_video.js
  src/util/videoUtils.ts
  src/util/workers/video.worker.ts
Labels: issue

#1769 [#11681] alert 추가
  src/class/DataTable.js
  src/extensions/dmet.js
  src/playground/blocks/block_analysis.js
Labels: issue

#1764 [#11688] 모든붓 지우기 관련 이슈
  src/class/pixi/plugins/PIXITextMetricsPlugIn.js
  src/class/variable/variable.js
  src/playground/blocks/block_brush.js
Labels: issue

#1770 Issue/11521 워크스페이스 장면30개로 변경
  src/class/scene.js
  src/css/components/scene.less
Labels: issue

#1771 [#11172] 모델학습 블럭 개발.
  extern/util/static.js
  src/class/AILearning.js
  src/class/engine.js
  src/class/playground.js
  src/class/popup_helper.ts
  src/css/components/popup.less
  src/playground/block_entry.js
  src/playground/blocks/block_ai_learning.js
  src/playground/blocks/index.js
  src/util/init.js
  src/util/utils.js
Labels: issue

#1772 Issue/11521 장면 이동, 추가 버튼 이미지 추가
  images/btn_scene_add.png
  images/btn_scene_left.png
  images/btn_scene_right.png
Labels: issue

#1773 Issue/11707 offsetWidth 설정조건추가
  src/class/scene.js
Labels: issue

#1776 [비디오블럭] 에러 토스트 수정
  src/util/videoUtils.ts
Labels: issue

#1778 [#11714] issue 처리.
  src/class/AILearning.js
  src/css/components/popup.less
Labels: issue

#1779 issue 11687
  src/class/DataTable.js
  src/class/source/DataTableSource.js
Labels: issue

#1781 [#11729]
  src/class/AILearning.js
  src/css/components/popup.less
Labels: issue

#1783 [#11683]파이어폭스 비디오 비율 개선
  src/graphicEngine/GEHelper.ts
  src/util/videoUtils.ts
Labels: issue

#1784 [#11683] 비디오블럭 파폭/부스트모드 카메라 비율 재조절
  src/graphicEngine/GEHelper.ts
Labels: issue

#1786 bug fix
  src/class/AILearning.js
  src/playground/blocks/block_ai_learning.js
Labels: feature

#1788 ie error
  src/class/AILearning.js
Labels: feature
