Repository entrylabs/entryjs, pull requests merged in 2020-01, with the labels that each got.

#1551 [PINGPONG] 도트 메트릭스 블럭 수정
  src/playground/blocks/hardware/block_pingpong.js
Labels: hardware

#1557 [security] serialize-javascript
  package-lock.json
  package.json
  yarn.lock
Labels: security

#1545 Fix 'Neobot Edu' blocks.
  images/hardware/neobot_game_theme.png
  images/hw/neobot_game_theme.png
  src/playground/blocks/hardware/block_neobot.js
  src/playground/blocks/hardware/block_neobot_game_theme.js
  src/playground/blocks/hardware/block_neobot_robot_theme.js
  src/playground/blocks/hardware/block_neobot_sensor_theme.js
Labels: hardware

#1576 [issue/pr_labeler_issue] issue prefix 에서 라벨링 되지 않는 문제수정용 PR
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: issue

#1549 [issue #9586] 마이크로비트
  src/class/hw.ts
  src/class/object.js
  src/entry.js
  src/extensions/extension.js
  src/playground/block.js
  src/playground/blocks/hardware/block_microbit.js
  src/playground/executors.js
  src/playground/field/field.js
  src/playground/field/led.js
  src/playground/skeleton/basic/basic_text_light.ts
  types/Entry/hardware.d.ts
Labels: hardware

#1564 카두이노 업로드
  images/hardware/kaduino.png
  src/playground/blocks/hardware/block_kaduino.js
Labels: hardware

#1558 [feature] uglifyjs to terser
  package-lock.json
  package.json
  webpack_config/prod.js
  yarn.lock
Labels: enhancement

#1580 [마이크로빗] 자기 센서 관련 수정
  src/playground/block_entry.js
  src/playground/blocks/hardware/block_microbit_ext.js
Labels: feature

#1563 [feature/modulize] 하드웨어 모듈화 프로세스 적용 into develop-hw
  src/class/hardware/hardwareSocketMessageHandler.ts
  src/class/moduleManager.js
  src/util/init.js
  src/util/utils.js
  tsconfig.json
  types/Entry/hardware.d.ts
Labels: feature

#1579 [feature] awesome-typescript-loader -> ts-loader
  package.json
  webpack.config.js
  webpack_config/common.js
  webpack_config/dev.js
  webpack_config/prod.js
  webpack_config/serve.js
  yarn.lock
Labels: feature

#1573 mechanicblock controller add
  images/hardware/MechanicblockController.png
  images/hardware/mechanicblock_controller.png
  images/hardware/mechanicblock_uno.png
  images/hardware/mechanicblock_uno_mini.png
  images/hardware/mechanicblock_uno_s.png
  images/hw/MechanicblockController.png
  images/hw/mechanicblock_controller.png
  images/hw/mechanicblock_uno.png
  images/hw/mechanicblock_uno_mini.png
  images/hw/mechanicblock_uno_s.png
  src/playground/blocks/hardware/block_mechanicblock_controller.js
  src/playground/blocks/hardware/block_mechanicblock_uno.js
  src/playground/blocks/hardware/block_mechanicblock_uno_mini.js
  src/playground/blocks/hardware/block_mechanicblock_uno_s.js
Labels: hardware

#1584 [#10910] 오디오 감지 블록
  extern/lang/code.js
  extern/lang/ebs.js
  extern/lang/en.js
  extern/lang/jp.js
  extern/lang/ko.js
  extern/lang/vn.js
  extern/util/static.js
  extern/util/static_mini.js
  images/ai.svg
  images/aiUtilize/audio.svg
  images/aiUtilize/tts.png
  images/ai_on.svg
  images/ai_utilize.svg
  images/ai_utilize_on.svg
  images/block_icon/ai_utilize_icon.svg
  images/ic-audio-sensing-mic.svg
  package.json
  src/class/AIUtilize.js
  src/class/engine.js
  src/class/playground.js
  src/class/project.js
  src/class/stage.js
  src/class/toast.js
  src/command/commands/object.js
  src/command/commands/playground.js
  src/css/components/block.less
  src/css/components/block_menu.less
  src/css/components/engine.less
  src/playground/block_entry.js
  src/playground/block_menu.js
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/blocks/block_ai_utilize_tts.js
  src/playground/blocks/block_start.js
  src/playground/blocks/index.js
  src/playground/executors.js
  src/playground/scope.js
  src/playground/skeleton/basic/basic_button_disabled.ts
  src/util/audioUtils.js
  src/util/init.js
  src/util/static.js
  src/util/utils.js
  src/util/websocket.js
  yarn.lock
Labels: feature

#1547 Rev0.1
  images/hardware/CloverSEntry1.png
  images/hw/CloverSEntry1.png
  src/playground/blocks/hardware/block_CloverSEntry1.js
Labels: hardware

#1585 [오디오 블록] 오디오 웹소켓 접근 주소 변경
  src/class/toast.js
  src/util/audioSocket.js
  src/util/audioUtils.js
Labels: feature

#1567 sound 가 없는경우 실행되지 않는 문제
  src/class/engine.js
  src/util/init.js
Labels: feature

#1588 오디오 블록 기획/기능 관련 수정
  extern/util/static.js
  images/aiUtilize/papago.png
  src/class/container.js
  src/class/variable/index.js
  src/class/variable/sttVariable.js
  src/class/variable/variable.js
  src/class/variable_container.js
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/blocks/block_ai_utilize_translate.js
  src/playground/blocks/index.js
  src/playground/executors.js
  src/playground/scope.js
  src/util/audioUtils.js
  src/util/utils.js
Labels: feature

#1590 sponser Text 추가
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/blocks/block_ai_utilize_translate.js
  src/playground/blocks/block_ai_utilize_tts.js
  src/util/audioUtils.js
Labels: feature

#1598 [issue/audio_block] 블록 상세 관련 수정
  src/playground/blocks/block_ai_utilize_audio.js
  src/util/audioUtils.js
Labels: issue

#1600 Hotfix/11321
  src/class/container.js
  src/class/variable_container.js
  src/command/commands/variableContainer.js
  src/extensions/CloudVariable.js
  src/textcoding/util/textCodingUtil.js
  src/util/utils.js
Labels: hotfix

#1604 방어 코드 추가.
  src/extensions/CloudVariable.js
Labels: hotfix

#1603 [오디오 블록] 마이크 연결 되지 않은 케이스, 활성화 에러 수정
  src/class/AIUtilize.js
  src/util/audioUtils.js
  src/util/utils.js
Labels: issue

#1607 [#11332] disconnect시에 온라인으로 바뀌도록 설정.
  src/extensions/CloudVariable.js
Labels: hotfix

#1608 incompatible error 수정
  src/util/audioUtils.js
  src/util/utils.js
Labels: issue

#1612 파파고 이미지 추가, powered text 변경
  images/hardware/papago.png
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/blocks/block_ai_utilize_tts.js
Labels: issue

#1610 AI블록, 데이터분석 블록메뉴 betaTag 추가
  images/beta_tag.svg
  src/css/components/block_menu.less
  src/playground/block_menu.js
Labels: issue

#1613 오디오블록 딤드 영역 css fix
  src/css/components/engine.less
Labels: issue

#1619 오디오 블록 에러 토스트 관련 수정 및, minor css 수정
  src/css/components/engine.less
  src/playground/blocks/block_ai_utilize_audio.js
  src/util/audioUtils.js
  src/util/utils.js
Labels: issue

#1621 Issue/10759
  package.json
  src/class/ExecuteEntity.js
  src/class/container.js
  src/class/engine.js
  src/class/entity.js
  src/class/stage.js
  src/playground/blocks/block_variable.js
  src/playground/code.js
  src/playground/executors.js
  yarn.lock
Labels: issue
