Repository entrylabs/entryjs, pull requests merged in 2020-03, with the labels that each got.

#1683 [#11534] 차트창 열리는 기준이 origin -> array.
  src/class/DataTable.js
Labels: issue

#1676 Issue/11521 장면 카운트 제한없이 20개 이상 생성가능하던 부분 수정
  src/class/scene.js
Labels: issue

#1684 이슈 11527 처리
  extern/util/CanvasInput.js
  extern/util/CanvasInputOrg.js
  images/stage/rotate.png
  images/stage/submit.png
  src/class/stage.js
  src/entry.js
  src/graphicEngine/GEHandle.js
Labels: issue

#1670 [into develop-hw] typescript 타입 재정의 및 기타 파일 ts 화
  package.json
  src/class/container.js
  src/class/hardware/hardwareMonitor.ts
  src/class/hw.ts
  src/class/intro.ts
  src/class/moduleManager.ts
  src/class/pixi/atlas/EntryTextureOption.ts
  src/class/pixi/atlas/PIXIAtlasHelper.ts
  src/class/pixi/atlas/PIXIAtlasManager.ts
  src/class/pixi/atlas/SceneBins.ts
  src/class/pixi/atlas/SceneTextures.ts
  src/class/pixi/atlas/texture/EntryTextureBase.ts
  src/class/pixi/init/PIXIBaseAsset.ts
  src/class/pixi/init/PIXIFontLoadHandler.ts
  src/class/popup_helper.js
  src/class/popup_helper.ts
  src/class/property_panel.ts
  src/core/dom.js
  src/core/dom.ts
  src/entry.js
  src/textcoding/util/console.js
  src/util/destroyer/Destroyer.ts
  tsconfig.json
  types/Entry/dom.d.ts
  types/Entry/hardware.d.ts
  types/entry.d.ts
  types/index.d.ts
  webpack_config/common.js
  yarn.lock
Labels: feature

#1690 [issue/11564] 저장 전 테이블 수정 확인.
  src/class/playground.js
  src/class/source/DataTableSource.js
Labels: issue

#1689 [issue/11479] %1 항목을 %2 에 추가하기 블록으로 5천개 이상의 리스트값이 추가되던 이슈 수정
  src/class/variable/listVariable.js
Labels: issue

#1687 core-js 추가
  package.json
  yarn.lock
Labels: issue

#1691 [DataTable] 테이블 행 추가 후 저장 시, 추가한 행이 초기화 됩니다
  src/class/DataTable.js
Labels: issue

#1692 [playground] 빈 테이블 추가시 탭이 선택되지 않음
  src/class/playground.js
  src/class/source/DataTableSource.js
Labels: issue

#1679 [#11398] 비디오 블록
  extern/util/static.js
  images/aiUtilize/video.svg
  images/entrybot-loading-spritesheet.png
  package.json
  src/class/engine.js
  src/class/pixi/helper/PIXIHelper.ts
  src/class/playground.js
  src/class/stage.js
  src/command/commands/object.js
  src/css/components/engine.less
  src/graphicEngine/GEHelper.ts
  src/playground/blocks/block_ai_utilize_video.js
  src/playground/blocks/index.js
  src/util/audioUtils.js
  src/util/videoUtils.ts
  src/util/workers/video.worker.ts
  tsconfig.json
  types/index.d.ts
  types/window.d.ts
  webpack_config/common.js
  weights/age_gender_model-shard1
  weights/age_gender_model-weights_manifest.json
  weights/face_expression_model-shard1
  weights/face_expression_model-weights_manifest.json
  weights/face_landmark_68_model-shard1
  weights/face_landmark_68_model-weights_manifest.json
  weights/face_landmark_68_tiny_model-shard1
  weights/face_landmark_68_tiny_model-weights_manifest.json
  weights/tiny_face_detector_model-shard1
  weights/tiny_face_detector_model-weights_manifest.json
  yarn.lock
Labels: feature

#1694 [로딩 팝업] 비디오 블록 로딩 화면 변경
  src/class/engine.js
  src/css/components/engine.less
  src/util/videoUtils.ts
Labels: issue

#1697 Issue/10759 3
  images/ic_attr_list_cloud_on.png
  images/ic_attr_list_real_time_on.png
  images/ic_attr_variable_cloud_on.png
  images/ic_attr_variable_real_time_on.png
  src/class/variable/listVariable.js
  src/class/variable/variable.js
  src/class/variable_container.js
  src/command/commands/variableContainer.js
  src/css/components/variable_container.less
  src/extensions/CloudVariable.js
  src/playground/blocks/block_variable.js
Labels: issue

#1698 [비디오블록]비디오블록 오류 수정
  src/graphicEngine/GEHelper.ts
  src/playground/blocks/block_ai_utilize_video.js
  src/util/videoUtils.ts
Labels: issue

#1705 이슈 11598처리
  src/class/playground.js
Labels: issue

#1706 #11601 처리
  src/playground/blocks/block_ai_utilize_video.js
Labels: issue

#1708 [비디오 블록] fs Warning supress
  webpack_config/common.js
Labels: issue

#1711 [비디오 블록] 비디오 블럭 인식 넘버링 추가
  src/graphicEngine/GEHelper.ts
Labels: issue

#1712 비디오 블럭 QA 수정
  extern/util/static.js
  src/playground/blocks/block_ai_utilize_video.js
Labels: issue

#1714 [비디오블럭] 자신의 움직임값 오류 수정
  src/util/videoUtils.ts
Labels: issue

#1716 issue/11564
  src/class/playground.js
Labels: issue

#1719 이슈 11621 처리
  src/graphicEngine/GEHelper.ts
  src/util/videoUtils.ts
Labels: issue

#1721 add cloudVariable json.parse
  src/util/utils.js
Labels: hotfix

#1718 [#10844] jQuery e.keyCode -> vanila e.key | e.code
  src/playground/block_entry.js
  src/playground/blocks/block_judgement.js
  src/playground/blocks/block_start.js
  src/playground/field/keyboardInput.js
  src/textcoding/static/keyboardCode.js
  src/util/utils.js
Labels: issue

#1700 [#11589] getNumberValue, calc_basic 블록 수정
  src/playground/blocks/block_calc.js
  src/playground/scope.js
  src/util/utils.js
Labels: issue

#1720 비디오 블록 로딩 화면 문구 수정
  src/playground/blocks/block_ai_utilize_video.js
  src/util/videoUtils.ts
Labels: issue
