Repository entrylabs/entryjs, pull requests merged in 2020-02, with the labels that each got.

#1623 오디오블록 비정상종료 관련 수정
  src/class/container.js
  src/class/engine.js
  src/playground/blocks/block_ai_utilize_audio.js
  src/util/audioUtils.js
Labels: issue

#1626 [오디오블록] 서버 경로 변경
  src/util/audioSocket.js
  src/util/audioUtils.js
Labels: issue

#1628 Issue/10759 2
  src/class/engine.js
  src/class/variable/listVariable.js
  src/class/variable/variable.js
  src/playground/blocks/block_variable.js
  src/util/utils.js
Labels: issue

#1632 [오디오 블록] Firefox disable
  src/util/audioUtils.js
Labels: issue

#1596 [feature] Github Actions / eslint review 기능 추가
  .github/workflows/pull-request-workflow.yml
  package.json
  yarn.lock
Labels: feature

#1606 하드웨어 소켓 연결 로직 개선
  src/class/hw.ts
Labels: feature

#1582 [security] jest-jenkins-reporter 삭제 / jest 버전 업데이트 및 lock 파일 업데이트
  package-lock.json
  package.json
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/field/led.js
  yarn.lock
Labels: security

#1636 이슈 11400 처리
  src/playground/blocks/block_variable.js
Labels: issue

#1624 Issue/11333 특정작품 부스트 모드 실행불가 관련 수정
  src/class/pixi/atlas/PIXIAtlasHelper.ts
Labels: issue

#1601 buzzer 출력시간 수정
  src/playground/blocks/hardware/block_kaduino.js
Labels: hardware

#1617 Develop hw
  images/hardware/eduino.png
  src/playground/blocks/hardware/block_eduino.js
Labels: hardware

#1602 Mechatro Block update
  extern/lang/en.js
  extern/lang/ko.js
  src/playground/blocks/hardware/block_mechatro.js
Labels: hardware

#1638 Issue/11411
  src/playground/blocks/block_flow.js
Labels: issue

#1609 [issue/11302] 값블록을 바로 드래그 -> 제거하면 값블록뷰가 중첩되던 문제 수정
  src/playground/field/block.js
Labels: issue

#1633 [오디오 블록] 샘플링 레이트 변경 방법 수정
  src/util/audioUtils.js
Labels: issue

#1640 [#11404] pixi v5 upgrade
  package.json
  src/class/pixi/atlas/AtlasCanvasViewer.ts
  src/class/pixi/atlas/EntryTextureOption.ts
  src/class/pixi/atlas/ISceneTextures.ts
  src/class/pixi/atlas/PIXIAtlasHelper.ts
  src/class/pixi/atlas/PIXIAtlasManager.ts
  src/class/pixi/atlas/PIXIScaleAdaptor.ts
  src/class/pixi/atlas/SceneBins.ts
  src/class/pixi/atlas/SceneTextures.ts
  src/class/pixi/atlas/loader/AtlasImageLoader.ts
  src/class/pixi/atlas/loader/AtlasImageLoadingInfo.ts
  src/class/pixi/atlas/structure/PrimitiveMap.ts
  src/class/pixi/atlas/structure/PrimitiveSet.ts
  src/class/pixi/atlas/texture/AtlasBaseTexture.ts
  src/class/pixi/atlas/texture/EntryBaseTexture.ts
  src/class/pixi/atlas/texture/EntryTextureBase.ts
  src/class/pixi/etc/PIXI-ndgmr.Collision.js
  src/class/pixi/etc/PIXIBrushAdaptor.ts
  src/class/pixi/etc/PIXICanvasInput.js
  src/class/pixi/etc/PIXITempStore.js
  src/class/pixi/etc/PIXITempStore.ts
  src/class/pixi/handle/PIXIHandle.js
  src/class/pixi/handle/PIXIHandleEdge.js
  src/class/pixi/helper/PIXIDragHelper.js
  src/class/pixi/helper/PIXIHelper.ts
  src/class/pixi/init/PIXIBaseAsset.ts
  src/class/pixi/init/PIXIFontLoadHandler.ts
  src/class/pixi/init/PIXIGlobal.ts
  src/class/pixi/mesh/PIXIH3Plane.js
  src/class/pixi/plugins/PIXIGraphicOverride.js
  src/class/pixi/plugins/PIXIPixelPerfectInteractionPlugIn.js
  src/class/pixi/plugins/PIXIShortPropPlugin.js
  src/class/pixi/plugins/PIXISprite.ts
  src/class/pixi/plugins/PIXITextMetricsPlugIn.js
  src/class/pixi/plugins/PIXIZeroAlphaNoneInteractionPlugins.js
  src/class/pixi/plugins/pixiGetChildAt.js
  src/class/pixi/text/PIXIText.js
  src/class/pixi/text/PIXITextStyle.ts
  src/class/pixi/utils/AutoFit.ts
  src/class/pixi/utils/TimeoutTimer.ts
  src/entry.js
  src/graphicEngine/EaselResManager.ts
  src/graphicEngine/FakePIXI.js
  src/graphicEngine/GEDragHelper.ts
  src/graphicEngine/GEHelper.ts
  src/graphicEngine/IGEResManager.ts
  src/util/utils.js
  yarn.lock
Labels: issue

#1644 Feature/datavisualize2
  .github/workflows/pull-request-workflow.yml
  extern/util/static.js
  images/block_icon/block_analysis.svg
  images/workspace_table_icon.svg
  package-lock.json
  package.json
  src/class/DataTable.js
  src/class/container.js
  src/class/playground.js
  src/class/project.js
  src/class/source/DataTableSource.js
  src/command/commands/dataTable.js
  src/command/commands/playground.js
  src/css/components/block_menu.less
  src/css/components/playground.less
  src/css/components/table.less
  src/css/entry.less
  src/entry.js
  src/extensions/CloudVariable.js
  src/extensions/dmet.js
  src/playground/block_view.js
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/blocks/block_analysis.js
  src/playground/blocks/index.js
  src/playground/field/led.js
  src/util/common.js
  src/util/static.js
  src/util/utils.js
  yarn.lock
Labels: feature

#1647 [static] 블럭메뉴 순서 변경
  extern/util/static.js
  yarn.lock
Labels: issue

#1649 [#11252] col 수정 추가.
  src/class/pixi/atlas/PIXIAtlasHelper.ts
  src/class/source/DataTableSource.js
  src/command/commands/block.js
  src/extensions/dmet.js
  src/playground/block_entry.js
  src/playground/blocks/block_ai_utilize_translate.js
  src/playground/blocks/block_analysis.js
  src/playground/blocks/block_expansion_behaviorconduct_disaster.js
  src/playground/blocks/block_expansion_behaviorconduct_lifesafety.js
  src/playground/blocks/block_expansion_weather.js
  src/playground/blocks/block_flow.js
  src/playground/field/block.js
  src/playground/field/dropdown.js
  src/playground/field/dropdownDynamic.js
  src/util/audioUtils.js
  src/util/common.js
Labels: feature

#1635 [feature/playground_type] entryjs 내 playground 타입 추가
  package.json
  src/class/DataTable.js
  src/class/container.js
  src/class/engine.js
  src/class/helper.js
  src/class/hw.ts
  src/class/moduleManager.js
  src/class/playground.js
  src/class/project.js
  src/class/scene.js
  src/class/stage.js
  src/command/command_util.js
  src/command/commander.js
  src/entry.js
  src/extensions/CloudVariable.js
  src/extensions/dmet.js
  src/graphicEngine/GEHelper.ts
  src/log/state_manager.js
  src/playground/block_menu.js
  src/playground/block_menu_scroll.js
  src/playground/block_view.js
  src/playground/board.js
  src/playground/scroll.js
  src/playground/vim.js
  src/playground/workspace.js
  src/util/common.js
  src/util/eventHandler.js
  src/util/htmlElementPatcher.js
  src/util/init.js
  src/util/tooltip.js
  src/util/utils.js
  types/Entry/hardware.d.ts
Labels: feature

#1650 [#11436] 변경 된 차트 이름이 블록에 적용되도록 refresh 추가.
  src/class/DataTable.js
Labels: issue

#1651 [DataTable] 테이블 편집 이벤트 처리
  src/class/DataTable.js
  src/class/playground.js
Labels: issue

#1652 [issue/11459] issue/11302 의 사이드이펙트 처리
  src/playground/block.js
Labels: issue

#1653 [#11455, #11463 ] 이슈 수정.
  src/playground/block_entry.js
  src/playground/blocks/block_analysis.js
  src/playground/field/dropdown.js
  src/playground/field/dropdownDynamic.js
Labels: issue

#1654 [playground] 탭이동시 테이블 수정 모달 호출
  src/class/playground.js
Labels: issue

#1655 [#11439] issue 처리.
  src/class/DataTable.js
Labels: issue

#1656 초기 로드시 테이블 탭으로 자동 이동되는 오류 수정.
  src/class/DataTable.js
  src/class/playground.js
  src/command/commands/dataTable.js
Labels: issue

#1657 [#11472] 이슈 처리.
  src/class/source/DataTableSource.js
Labels: issue

#1658 [#11473] issue처리.
  src/class/source/DataTableSource.js
  src/extensions/dmet.js
Labels: issue

#1659 [DataTable] 테이블 수정이벤트
  src/class/DataTable.js
Labels: issue

#1660 [#11476] hotfix 불러오기 시 블럭 unban처리.
  src/command/commands/dataTable.js
Labels: issue

#1662 [playground] 탭 이동시 수정 취소하면 원래 값으로 초기화
  src/class/playground.js
Labels: issue

#1663 [#11462] issue 처리.
  src/class/DataTable.js
  src/util/utils.js
Labels: issue

#1661 [issue/11477] 오디오 블록 오류 메세지 뜨는것 수정
  src/playground/blocks/block_ai_utilize_audio.js
  src/playground/scope.js
  src/util/audioUtils.js
Labels: issue

#1665 [#11480] issue 처리.
  src/class/container.js
Labels: issue

#1666 bugfix
  src/command/commands/block.js
Labels: hotfix

#1641 [issue/11416] Entry.Func 클래스화 및 clearProject 시 문제발생 이슈 수정
  .eslintrc
  src/class/function.js
  src/class/variable_container.js
  src/util/utils.js
Labels: bug, issue

#1673 Issue/11380
  .eslintrc
  extern/util/CanvasInput.js
  extern/util/static.js
  extern/util/static_mini.js
  images/stage/rotate.png
  images/stage/rotate.svg
  images/stage/submit.svg
  package-lock.json
  package.json
  src/class/dialog.js
  src/class/pixi/etc/PIXICanvasInput.js
  src/class/playground.js
  src/class/stage.js
  src/css/components/block_menu.less
  src/css/components/board.less
  src/css/components/console.less
  src/css/components/helper.less
  src/css/components/playground.less
  src/css/components/toast.less
  src/graphicEngine/GEHandle.js
  src/playground/skeleton/basic/basic_boolean_field.ts
  src/theme/standard.js
  yarn.lock
Labels: issue

#1667 이슈 11491 처리
  extern/util/static.js
  extern/util/static_mini.js
  images/block_icon/brush_icon.svg
  images/block_icon/flow_icon.svg
  images/brush.svg
  images/flow.svg
Labels: issue

#1675 이슈 11434 처리
  package-lock.json
  src/class/entity.js
  src/playground/blocks/block_brush.js
Labels: issue
