Repository entrylabs/entryjs, pull requests merged in 2022-05, with the labels that each got.

#2275 이슈 4677 처리
  src/class/object.js
Labels: issue

#2276 [#4773][object] 오브젝트의 순서를 바꾸는 메뉴 추가
  src/class/object.js
Labels: issue

#2281 [#4807] e-센서보드 하드웨어 웹연결 지원
  images/hw_lite/sensorboardlite.png
  src/playground/blocks/hardwareLite/block_sensorboard_lite.js
  src/playground/blocks/hardwareLite/metadata_sensorboard_lite.json
Labels: feature

#2277 이슈 4082 처리
  src/class/engine.js
Labels: issue

#2282 [#4803] 블록 잘라내기 실행 시 아래 블록까지 제거되도록 수정
  src/playground/workspace.js
Labels: issue

#2289 4699 리오픈 이슈 처리
  src/playground/board.js
Labels: issue

#2291 이슈 3861 처리
  src/util/audioUtils.js
Labels: issue

#2295 [popup] popup이 닫힐때 이벤트 추가
  src/class/popup.js
Labels: hotfix
