Repository entrylabs/entryjs, pull requests merged in 2024-04, with the labels that each got.

#2673 static js 정리
  extern/util/static.js
Labels: feature

#2694 이슈 8160 처리
  extern/face-landmarker.worker.js
  src/util/mediaPipeUtils.ts
Labels: issue

#2696 ai 블록 분리 처리
  src/class/AILearning.js
  src/class/AIUtilize.js
  src/entry.js
  src/playground/blocks/block_ai.js
  src/playground/blocks/index.js
  src/util/init.js
Labels: feature

#2695 Feature/fix expansion
  src/class/AILearning.js
  src/class/AIUtilize.js
  src/class/Expansion.js
  src/class/playground.js
  src/entry.js
  src/playground/blocks/block_ai.js
  src/playground/blocks/block_expansion_weather.js
  src/playground/blocks/index.js
  src/util/init.js
  src/util/weather_forecast.js
Labels: feature

#2699 이슈 8096 처리
  extern/lang/en.js
  extern/lang/ko.js
  extern/util/static.js
  src/class/variable_container.js
  src/playground/blocks/block_start.js
Labels: issue

#2701 issue/7905
  package.json
  pnpm-lock.yaml
  src/class/AILearning.js
  src/class/learning/Classification.js
  src/class/learning/Cluster.js
  src/class/learning/DecisionTree.js
  src/class/learning/ImageLearning.js
  src/class/learning/InputPopup.js
  src/class/learning/LearningBase.ts
  src/class/learning/LogisticRegression.js
  src/class/learning/NumberClassification.js
  src/class/learning/Regression.js
  src/class/learning/SpeechClassification.js
  src/class/learning/Svm.js
  src/class/learning/TextLearning.js
  src/class/learning/Utils.ts
  src/class/playground.js
Labels: feature

#2700 이슈 8141 처리
  images/entry_scroll_02.svg
  images/entry_scroll_03.svg
  src/class/playground.js
  src/css/components/block_menu.less
  src/css/components/board.less
  src/css/components/playground.less
  src/playground/block_menu.ts
  src/util/utils.js
Labels: issue

#2703 이슈 8184 처리
  src/playground/blocks/block_brush.js
Labels: issue

#2704 이슈 8185 처리
  src/playground/blocks/block_calc.js
Labels: issue

#2706 다국어 수정
  extern/lang/en.js
  extern/lang/ko.js
Labels: feature

#2707 8141 추가 이슈 처리
  .eslintrc
  src/class/playground.js
  src/css/components/board.less
Labels: issue

#2713 4.17.0 -> 1.7.0
  package.json
  pnpm-lock.yaml
Labels: feature

#2717 issue/8242
  src/class/AILearning.js
  src/class/learning/InputPopup.js
Labels: hotfix

#2720 issue/8250
  src/class/learning/ImageLearning.js
  src/class/learning/SpeechClassification.js
Labels: issue
